<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rag-Query</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

<body>
    <h1>Query:</h1>
    <div id="chat-container">
    </div>

    <form method="POST" id="chat-form">
        <input type="text" id="user_input" name="user_input" placeholder="Message GPT" required>
        <button type="submit">submit</button>
    </form>





    <script>
        let chatHistory = [];

        document.getElementById("chat-form").addEventListener("submit", function(event) {
            event.preventDefault();
      
            const userInput = document.getElementById("user_input").value;
            const chatContainer = document.getElementById("chat-container");

            const userMessageElement = document.createElement("div");
            userMessageElement.classList.add("message", "user-message");

            const bubble = document.createElement("div");
            bubble.classList.add("bubble");
            bubble.textContent = userInput;
            
            userMessageElement.appendChild(bubble);
            chatContainer.appendChild(userMessageElement);


            document.getElementById("user_input").value = "";
            chatHistory.push({ role: "user", content: userInput });
            if (chatHistory.length > 10) {
                chatHistory.shift(); 
            }

            const loader = document.createElement("div");
            loader.className = "message bot-message loading";
            loader.innerHTML = `<span></span><span></span><span></span>`;
            chatContainer.appendChild(loader);

            fetch('/', {
                method: 'POST',
                body: JSON.stringify({ history:chatHistory, user_input: userInput }),
                headers: { 'Content-Type': 'application/json' },
            })
            .then(response => response.json())
            .then(data => {
                chatContainer.removeChild(loader);
                const assistantMessage = data.openai_response;

                const assistantMessageElement = document.createElement("div");
                assistantMessageElement.classList.add("message", "bot-message");

                const bubble = document.createElement("div");
                bubble.classList.add("bubble");
                bubble.textContent = assistantMessage;

                assistantMessageElement.appendChild(bubble);
                chatContainer.appendChild(assistantMessageElement);
            });
        });
    </script>

</body>
</html>

